{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Set New Password{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if validlink %}
                <h2>Set a new password</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Change my password" %}
                </form>
            {% else %}
                <h1>Invalid Link</h1>
                <p>The password reset link was invalid, possibly because it has already been used or it has expired. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}